body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

#webside {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: repeat(4, 1fr); */
    grid-template-rows: 12% 8% 70% 10%;

    
    
    width: 75%;
    height: 800px;
    margin: 0px auto;
    border: 1px solid #ccc;
}

#cabecera{
    /* CENTRAR ELEMENTO EN LA CAJA */
    align-self: center;
    grid-column: 1 / 6;
    
    background: black;
    color: white;
}

#menu{
    grid-column: 1 / 6;
    
    background: rgb(71, 71, 71);
    color: white;
}
#menu ul{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    list-style: none;
}
#menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
#contenido{
    grid-column: 2 / 6;
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    grid-gap: 25px;
    padding: 20px;
    background: #eee;
}

#contenido article{
    background: #ccc;
    border: 1px solid gray;
}

#lateral{
    background: midnightblue;
    color: white;
}

#footer{
    grid-column: 1 / 6;
    background: rgb(82, 82, 255);
    color: white;
    padding: 38px;
}